<div class="card">
  <div class="card__image">
    <%= image_tag 'eyecatch2.jpg' %>
  </div>
  <div class="card__content">
    <div class="card__hart">
      <%= image_tag 'hart.png' %>
      <span>23</span>
    </div>
    <div class="card__detail">
      <%= image_tag 'default-avatar1.png' %>
      <div>
        <p>cohki0305</p>
        <p>2025/02/10</p>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card__image">
    <%= image_tag 'eyecatch2.jpg' %>
  </div>
  <div class="card__content">
    <div class="card__hart">
      <%= image_tag 'hart.png' %>
      <span>23</span>
    </div>
    <div class="card__detail">
      <%= image_tag 'default-avatar1.png' %>
      <div>
        <p>cohki0305</p>
        <p>2025/02/10</p>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card__image">
    <%= image_tag 'eyecatch2.jpg' %>
  </div>
  <div class="card__content">
    <div class="card__hart">
      <%= image_tag 'hart.png' %>
      <span>23</span>
    </div>
    <div class="card__detail">
      <%= image_tag 'default-avatar1.png' %>
      <div>
        <p>cohki0305</p>
        <p>2025/02/10</p>
      </div>
    </div>
  </div>
</div>