<div class="card__container">
  <% @articles.each do |article| %>
    <%= link_to article_path(article), class: 'card__link' do %>
      <div class="card">
        <div class="card__image">
          <%= image_tag 'eyecatch2' %>
        </div>
        <div class="card__text-area">
          <div class="card__text">
            <h3 class="card__title"><%= article.title %></h3>
            <p class="card__content">
            <%= article.content %>
            </p>
          </div>
          <div class="card__hart">
            <%= image_tag 'hart.png' %>
            <span>23</span>
          </div>
          <div class="card__detail">
            <%= image_tag 'default-avatar1' %>
            <div>
              <p>cohki0305</p>
              <p>2025/02/10</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>