<div class="form__container">
  <ul>
    <% article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <%= form_with model: article, class:'form' do |f| %>
    <div>
      <div>
        <%= f.label :title, 'タイトル', class: "form__text" %>
      </div>
      <div>
        <%= f.text_field :title, class: "form__input" %>
      </div>
    </div>
    <div>
      <div>
        <%= f.label :content, '内容', class: "form__text" %>
      </div>
      <div>
        <%= f.text_area :content, class: "form__textarea" %>
      </div>
    </div>
    <div>
      <%= f.submit '投稿', class: "btn btn-primary" %>
      <%= link_to '戻る', articles_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>